.list
    margin-top: $other
    flex-direction: column-reverse

    p
        flex-grow: 10
        margin-right: $family
        overflow: scroll
        -ms-overflow-style: none

    p::-webkit-scrollbar
        display: none

    &-item
        margin-top: $friend
        width: 80%

    &-icon
        margin-right: $family
        font-size: 32px

    .btn
        background: $bad
        color: white
