.list
    margin-top: $other
    flex-direction: column-reverse

    p
        flex-grow: 10
        margin-right: $family
        -ms-overflow-style: none
        overflow: scroll
        text-align: left

    p::-webkit-scrollbar
        display: none

    &-item
        margin-top: $friend

        width: 100%
        box-sizing: border-box
        padding: 0 $distanceFromScreenEdge

    &-icon
        margin-right: $family
        font-size: 32px

    .btn
        background: $bad
        color: white
